.App {
  text-align: center;
}

.mainTitle {
  background-color: cornflowerblue;
}

.property {
  display: grid;
  /* grid-template-columns: (2, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  padding-left: 40%;
  text-align: left;

}

.cart {
  /* display: grid; */
  /* grid-template-columns: (2, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-auto-flow: column; */
  padding-left: 40%;
  text-align: left;
}

.hide-element {
  display: none;
}