.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    font-size: 15px;
    text-align: center;
}

.addbutton {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}