h1 {
    font-size: 25px;
    text-align: left;
}

div {
    text-align: left;
}

/* .column {
    float: left;
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  } */ 
/* .container {
    display: inline-table;
    flex-direction: row;
    justify-content: left;
}

.child {
    display: block;
    text-align: left;
} */

/* .payment {
    display: inline-block;
}

.host {
    display: inline-block;
}

.rating {
    display: inline-block;
} */