body {
  padding: 1rem;
}

section {
  padding: 0 1rem 0 0.5rem;
}

.container-main {
  display: grid;
  grid-gap: 0.8rem;
  /* grid-template-areas:
    'productList shoppingCartToggle'
    'productList shoppingCart'; */
  grid-template-columns: minmax(0, 1fr) auto;
}
#productList { 
  /* grid-area: productList; */
  grid-column: 1/2;
  grid-row: 1/3;
}
#shoppingCart { 
  background: #f6f6f6;
  border-radius: 7px;
  /* grid-area: shoppingCart; */
  grid-column: 2/3;
  grid-row: 1/3;
  height: 90vh; 
  overflow-y: scroll;
}
#shoppingCartToggle {
  grid-column: 1/3;
  grid-row: 1;
  justify-self: end;
  z-index: 1;
}

.header-primary {
  border-bottom: 1px dotted #8c8c8c;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  padding-top: 1.6rem;
}

#shoppingCart.cart-show {
  display: block;
}

#shoppingCart.cart-hide {
  display: none;
}